name: Build and Push Docker Image

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

permissions: {}

env:
  PYTHON_VERSION: "3.10"

jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          cache-binary: false

      - name: Check out code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: TensorAuto/OpenTau:latest
          build-args: PYTHON_VERSION=${{ env.PYTHON_VERSION }}
