name: pre-commit

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      "*"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      GIT_LFS_SKIP_SMUDGE: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: false
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "uv"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          uv sync --extra test --extra dev
          source .venv/bin/activate

      - name: Run pre-commit
        run: |
          source .venv/bin/activate
          pre-commit run --all-files
